<!DOCTYPE html>
<html lang="ru">
<head>
    <base href="/"/>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Language" content="ru-RU">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Administration</title>
    <meta name="keywords" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="favicon.png">
    <link rel="icon" sizes="180x180" href="favicon.png">
    <meta name="theme-color" content="#a88fff" />
    <!--link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png"-->
    <script>window.env = %ENV%</script>
    %SCRIPTS%
    <link href="/scss/admin.scss" rel="stylesheet"></head>


</head>
<body class="page">
    <script>%PAGECODE%</script>

</body>
</html>